@charset "UTF-8";
.highlighter-rouge .hll {
  background-color: #ffffcc; }
.highlighter-rouge .c {
  color: #888888; }
.highlighter-rouge .err {
  color: #a61717;
  background-color: #e3d2d2; }
.highlighter-rouge .k {
  color: #008800;
  font-weight: bold; }
.highlighter-rouge .cm {
  color: #888888; }
.highlighter-rouge .cp {
  color: #cc0000;
  font-weight: bold; }
.highlighter-rouge .c1 {
  color: #888888; }
.highlighter-rouge .cs {
  color: #cc0000;
  font-weight: bold;
  background-color: #fff0f0; }
.highlighter-rouge .gd {
  color: #000000;
  background-color: #ffdddd; }
.highlighter-rouge .ge {
  font-style: italic; }
.highlighter-rouge .gr {
  color: #aa0000; }
.highlighter-rouge .gh {
  color: #303030; }
.highlighter-rouge .gi {
  color: #000000;
  background-color: #ddffdd; }
.highlighter-rouge .go {
  color: #888888; }
.highlighter-rouge .gp {
  color: #555555; }
.highlighter-rouge .gs {
  font-weight: bold; }
.highlighter-rouge .gu {
  color: #606060; }
.highlighter-rouge .gt {
  color: #aa0000; }
.highlighter-rouge .kc {
  color: #008800;
  font-weight: bold; }
.highlighter-rouge .kd {
  color: #008800;
  font-weight: bold; }
.highlighter-rouge .kn {
  color: #008800;
  font-weight: bold; }
.highlighter-rouge .kp {
  color: #008800; }
.highlighter-rouge .kr {
  color: #008800;
  font-weight: bold; }
.highlighter-rouge .kt {
  color: #888888;
  font-weight: bold; }
.highlighter-rouge .m {
  color: #0000DD;
  font-weight: bold; }
.highlighter-rouge .s,
.highlighter-rouge .s-Atom {
  color: #dd2200;
  background-color: #fff0f0; }
.highlighter-rouge .na {
  color: #336699; }
.highlighter-rouge .nb {
  color: #003388; }
.highlighter-rouge .nc {
  color: #bb0066;
  font-weight: bold; }
.highlighter-rouge .no {
  color: #003366;
  font-weight: bold; }
.highlighter-rouge .nd {
  color: #555555; }
.highlighter-rouge .ne {
  color: #bb0066;
  font-weight: bold; }
.highlighter-rouge .nf {
  color: #0066bb;
  font-weight: bold; }
.highlighter-rouge .nl {
  color: #336699;
  font-style: italic; }
.highlighter-rouge .nn {
  color: #bb0066;
  font-weight: bold; }
.highlighter-rouge .py {
  color: #336699;
  font-weight: bold; }
.highlighter-rouge .nt {
  color: #bb0066;
  font-weight: bold; }
.highlighter-rouge .nv {
  color: #336699; }
.highlighter-rouge .ow {
  color: #008800; }
.highlighter-rouge .w {
  color: #bbbbbb; }
.highlighter-rouge .mf {
  color: #0000DD;
  font-weight: bold; }
.highlighter-rouge .mh {
  color: #0000DD;
  font-weight: bold; }
.highlighter-rouge .mi {
  color: #0000DD;
  font-weight: bold; }
.highlighter-rouge .mo {
  color: #0000DD;
  font-weight: bold; }
.highlighter-rouge .sb {
  color: #dd2200;
  background-color: #fff0f0; }
.highlighter-rouge .sc {
  color: #dd2200;
  background-color: #fff0f0; }
.highlighter-rouge .sd {
  color: #dd2200;
  background-color: #fff0f0; }
.highlighter-rouge .s2 {
  color: #dd2200;
  background-color: #fff0f0; }
.highlighter-rouge .se {
  color: #0044dd;
  background-color: #fff0f0; }
.highlighter-rouge .sh {
  color: #dd2200;
  background-color: #fff0f0; }
.highlighter-rouge .si {
  color: #3333bb;
  background-color: #fff0f0; }
.highlighter-rouge .sx {
  color: #22bb22;
  background-color: #f0fff0; }
.highlighter-rouge .sr {
  color: #008800;
  background-color: #fff0ff; }
.highlighter-rouge .s1 {
  color: #dd2200;
  background-color: #fff0f0; }
.highlighter-rouge .ss {
  color: #aa6600;
  background-color: #fff0f0; }
.highlighter-rouge .bp {
  color: #003388; }
.highlighter-rouge .vc {
  color: #336699; }
.highlighter-rouge .vg {
  color: #dd7700; }
.highlighter-rouge .vi {
  color: #3333bb; }
.highlighter-rouge .il {
  color: #0000DD;
  font-weight: bold; }

h1, h2, h3, p, ul, ol, li, dl, dt, dd, pre {
  margin: 0;
  padding: 0; }

/* Apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*************************************** CLEARFIX*/
/* For modern browsers */
.cf:before,
.cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom: 1; }

/******************************************* MAIN */
body {
  background: #f1f1dc url(/groovepaper.png) repeat;
  font-family: Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-size: 16px;
  line-height: 1.5;
  color: #3b3131; }

a:link,
a:visited {
  color: #46472b; }

a:hover, a.current {
  color: #b5b690; }

h1 {
  font-family: Exo;
  font-weight: 200;
  font-size: 2.5em;
  line-height: 48px;
  margin-bottom: 24px; }

h2 {
  font-size: 2em;
  line-height: 48px; }

h3 {
  font-size: 1.5em;
  line-height: 24px; }

/*p {
  margin-bottom: $lineheight;
}*/
p, pre, ul, ol {
  margin: 24px 0; }

li > ul, li > ol {
  margin-top: 0;
  margin-bottom: 0; }

li ol {
  list-style-type: lower-alpha; }

ul, ol {
  margin-left: 1.2em; }

ul.unstyled {
  list-style: none;
  margin: 0; }

code {
  background: #ffffff;
  display: inline-block;
  padding: 0 0.3em;
  border: 1px solid #b5b690;
  overflow: auto;
  border-radius: 5px; }

pre code {
  display: block;
  margin: -10px 0;
  padding: 10px;
  border-radius: 10px; }

table {
  border-collapse: collapse; }

th, td {
  padding: 0.3em 0.6em;
  border: 1px solid #b5b690; }

th {
  background: #b5b690;
  color: #fff; }

/******************************************* LAYOUT */
.container {
  width: 960px;
  margin: 48px auto; }

.main, .sidebar {
  float: left; }

.main {
  width: 75%; }

.sidebar {
  width: 25%; }

/******************************************* SIDEBAR */
.sidebar {
  padding-right: 1em; }

.sidebar .forks {
  display: block;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 0.5em; }

.lectures dt {
  color: #8f0853;
  font-size: 1.125em;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase; }

.lectures dd {
  margin-bottom: 24px; }

.notes {
  margin-top: 0; }

.notes a {
  display: block;
  text-decoration: none; }

.notes em {
  font-style: normal; }

.notes small {
  display: block;
  font-size: 0.625em; }

/******************************************* MAIN */
.main {
  border-left: 1px solid #b5b690;
  padding-left: 1em; }

/******************************************* SPECIFIC */
.special, .def, .example, .fact, .theorem, .lemma, .conc {
  background: #fff;
  padding: 10px 10px 10px 120px;
  border: 1px solid #8f0853;
  margin: 14px 0;
  border-radius: 10px;
  position: relative; }
  .special:before, .def:before, .example:before, .fact:before, .theorem:before, .lemma:before, .conc:before {
    position: absolute;
    left: -1px;
    top: 0;
    bottom: 0;
    width: 90px;
    font-weight: bold;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; }

.def {
  border-color: #8f0853; }
  .def:before {
    content: 'Definicja';
    background: #8f0853;
    color: #fff; }

.example {
  border-color: #b5b690; }
  .example:before {
    content: 'Przykład';
    background: #b5b690;
    color: #fff; }

.fact {
  border-color: #46472b; }
  .fact:before {
    content: 'Fakt';
    background: #46472b;
    color: #fff; }

.theorem {
  border-color: #08870c; }
  .theorem:before {
    content: 'Twierdzenie';
    background: #08870c;
    color: #fff; }

.lemma {
  border-color: #a4a509; }
  .lemma:before {
    content: 'Lemat';
    background: #a4a509;
    color: #fff; }

.conc {
  border-color: #086587; }
  .conc:before {
    content: 'Wniosek';
    background: #086587;
    color: #fff; }

div.def > :first-child, div.example > :first-child, div.fact > :first-child, div.theorem > :first-child, div.lemma > :first-child, div.conc > :first-child {
  margin-top: 0; }
div.def > :last-child, div.example > :last-child, div.fact > :last-child, div.theorem > :last-child, div.lemma > :last-child, div.conc > :last-child {
  margin-bottom: 0; }

ul.def, ul.fact, ul.example, ul.theorem, ul.lemma, ul.conc,
ol.def, ol.fact, ol.example, ol.theorem, ol.lemma, ol.conc {
  padding-left: 140px; }
